<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="sbplug.editors.FXMLEditor"
            contributorClass="sbplug.editors.FXMLEditorContributor"
            default="false"
            extensions="fxml"
            id="sbplug.editors.FXMLEditor"
            name="SB FXML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="sbplug.sbcategory"
            class="sbplug.views.InspectorView"
            id="sbplug.views.inspectorView"
            name="Inspector View"
            restorable="false">
      </view>
      <category
            id="sbplug.sbcategory"
            name="Scene Builder">
      </category>
   </extension>

</plugin>
