<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.tobask.sb4e.editors.FXMLEditor"
            contributorClass="no.tobask.sb4e.editors.FXMLEditorContributor"
            default="false"
            extensions="fxml"
            id="sb4e.editors.FXMLEditor"
            name="Scene Builder FXML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="sb4e.scenebuilder"
            class="no.tobask.sb4e.views.InspectorViewWrapper"
            id="sb4e.views.InspectorView"
            name="Inspector View"
            restorable="true">
      </view>
      <category
            id="sb4e.scenebuilder"
            name="Scene Builder">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
         	   allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
               <command
                     commandId="no.tobask.sb4e.includefxml"
                     label="Include in opened document"
                     style="push">
                     <visibleWhen>
                           <and>
                           		<with
                                 variable="activeMenuSelection">
                                 <iterate
                                 	ifEmpty="false"
                                 	operator="and">
                                 	<adapt
                                        type="org.eclipse.core.resources.IFile">
                                        <test
                                              property="org.eclipse.core.resources.name"
                                              value="*.fxml">
                                        </test>
                                 	</adapt>
                                 </iterate>
                                 <count
                                       value="1">
                                 </count>
                           		</with>
                           		<with
                                   variable="activeEditorId">
                                   <equals
                                         value="sb4e.editors.FXMLEditor">
                                   </equals>
                           		</with>
                           </and>
                     </visibleWhen>
               </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
               id="no.tobask.sb4e.includefxml"
               name="Include fxml">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="no.tobask.sb4e.includefxml"
            class="no.tobask.sb4e.handlers.IncludeFxmlHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="no.tobask.sb4e.coherence.FxControllerValidator"
            id="FxControllerValidator"
            createsProblems="true">
            <managedMarker
                  markerType="no.tobask.sb4e.fxcontrollerproblemmarker">
            </managedMarker>
      </compilationParticipant>
   </extension>
   <extension
         id="no.tobask.sb4e.fxcontrollerproblemmarker"
         name="Bobob"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="no.tobask.sb4e.coherence.MissingFxIdsFixer"
            id="no.tobask.sb4e.quickFixProcessor"
            name="Fixx">
         <handledMarkerTypes>
            <markerType
                  id="no.tobask.sb4e.fxcontrollerproblemmarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="no.tobask.sb4e.RenameEventHandlerParticipant"
            id="no.tobask.sb4e.renameParticipant1"
            name="name">
         <enablement>
            <with
                  variable="element">
                  <instanceof
                        value="org.eclipse.jdt.core.IMethod">
                  </instanceof>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
 
</plugin>
